{% extends "petitioner_app/petitioner_base.html" %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Issue no.</th>
          <th scope="col">Type of issue</th>
          <th scope="col">State</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
      {% if my_forms %}
        {% for form in my_forms %}
            <tr>
              <th scope="row">{{form.id}}</th>
              <td>Vehicle registration</td>
              <td>Pending</td>
              <td><a href="/petitioner/form/{{form.id}}">View</a></td>
            </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
{% endblock %}